#container {
  margin: 0px 200px; 
  line-height: 150%;
  font-family: 'Nerko One', cursive;
  width: 690px;
  color: DarkSlateGrey;
}

#menu {
  display: fixed;  
  flex-flow: row wrap;
  background-color: DarkSlateGrey;
  text-align: center;
  padding: 20px; 
}

button {
  background-color: DarkSlateGrey;
  color: white;
  border: 0px;
  font-size: 30px;
  font-family: "Comic Sans MS";
}

button:hover {
  color: red;
}

#header {
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png"); 
  background-size: 640px 280px;
  background-position: 60%;
  background-repeat: no-repeat;
  width: 360px;
  height: 390px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -55px;
  line-height: 400%;
}

#header h1 {
  font-size: 60px;
  font-family: 'Shadows Into Light Two', cursive;
  margin-top: 160px;
  padding-left: 40px;
}

#header h3 {
  font-size: 32px;
  font-family: 'Shadows Into Light Two', cursive;
  margin-top: 50px;
  padding-left: 40px;
}

h1, h3 {
  font-family: 'Nerko One', cursive;
  color: DarkSlateGrey;
  
}

#introduction {
  padding: 20px;
}

#content {
  /*margin-right: -220px;*/ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  /*margin-right: -220px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

blockquote::before {
  content: '”';
  font-size: 44px;
  position: relative;
  top: -20px;
  left: -20px;
}

.section h2 {
  padding-top: 60px;
}

em {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

.box {
  background-color: DarkSlateGrey;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 40px;
  line-height: 120%;
  color: white;
  text-align: left;
  margin-left: 0px;
  width: 200px;
  height: 280px;
  padding: 30px;
}

#title {
  text-transform: uppercase;
  font-family: 'Arial';
  margin-bottom: 50px;
}

li {
  list-style-type: square;
}

hr {
  border: 2px solid black;
  margin: 40px 0px;
  border-color: DarkSlateGrey;
}

.section h3 {
  margin-top: 50px;
}