body {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vh; /*Viewport Height*/ 
  background-color: wheat;
  margin: 0;
  padding: 80px;
}

#container {
  width: 500px;
  /*height: 800px;  ez nem kell, mert azt akarjuk, hogy a tartalom töltse ki mindig aktuálisan a magasságot*/ 
  background-color:goldenrod;
  padding: 10px 100px 0 100px; /* EZt benne hagytam, mert így jobban tetszik*/
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px; 
}

h3 {
  font-size: 20px;
  text-transform: capitalize;
}

h1, h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  color: brown;
  text-align: center;

}

#content {
  width: 320px;
  height: 500px;
  background-color: white;
  padding: 20px 90px;
}

#inputField {
  width: 200px;
  height: 40px;
  background-color:navajowhite;
  font-size: 20px;
  margin-right: 0;
  border: 0;
  box-shadow: 0 0 3px rgb(111, 111, 111) inset; / *árnyék a doboz körül */
}

.addGomb {
  background-color:lightcoral;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin-left: 0;
  border: 0px;
  box-shadow: 0 0 3px rgb(189, 13, 13) inset;
}

li {
  list-style-type: None;
  display: flex;
  align-items: center; /* a sor középtengelyére igazodik*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

.trash, .ok {
  width: 24px;
  height: 24px;
  margin: 2px;
}

ul {
  width: 80%; /* a lista a bennfoglaló elem szélességének 80%-a*/
}

span {
  flex-grow: 1; /* így kihúz a bennfoglaló elem jobb szélére */
}